:root {
	--black: #3b434e;
	--gray: #a4a4a4;
	--gray-light: #ebebeb;
	--gray-dark: #787d85;
	--white: white;
	--primary: #7653fc;
	--primary-hover: #6344df;
	--red: #fc836d;
	--red-light: #fea291;
	--green: #1dc37e;
	--green-light: #c8f8e4;
	--background: #f5f6f8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--black);
	background: var(--background);
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	display: grid;
	min-height: 100vh;
	gap: 40px 30px;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";
}

.header {
	grid-area: header;
	display: none;
}

.main-content {
	grid-area: body;
}

.sidebar {
	grid-area: sidebar;
}

.footer {
	grid-area: footer;
}

@media (max-width: 767px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
	}

	.sidebar {
		display: none !important;
	}

	.header {
		display: block;
	}

	.main-content {
		padding: 0 30px;
	}
}
